body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#searchDiv {
    margin: 15px 0;
}
#searchForm > input[type='submit'] {
    width: 100%;
    margin-top: 2px;
}
.thumbs {
    width: 250px;
    min-height: 360px;
    margin: 13px;
    border: 1px solid #333;
    border-radius: 12px;
    float: left;
}
.link {
    width: 250px;
    min-height: 360px;
    opacity: 0;
}

#videos {
    text-align: center;
}
.youtubeVids {
    margin: 10px 7px;
    border-radius: 8px;
}

footer {
    display: block;
    clear: both;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* for later */
}
