body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #e5e5e5;
    font-family: 'Ubuntu', sans-serif;
}

#searchDiv {
    margin: 15px 0;
}

#searchBar {
    font-size: 17px;
    cursor: pointer;
    float: right;
}

#posters {
    width: 100%;
}
.movieInfo {
    width: 256px;
    height: 200px;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 6px;
    box-shadow: -2px -2px 7px 0 rgba(99, 99, 99, 0.55), 4px 4px 9px 0 rgba(0, 0, 0, 0.83);
}

    .movieInfo::-webkit-scrollbar {
        width: 10px;
    }

    .movieInfo::-webkit-scrollbar-thumb {
        background: #e5e5e5;
        border-radius: 6px;
        box-shadow: -2px -2px 7px 0 rgba(99, 99, 99, 0.55), 4px 4px 9px 0 rgba(0, 0, 0, 0.83);
    }

    .movieInfo::-webkit-scrollbar-thumb:hover {
        background: #999;
    }


    .movieInfo:hover {
        box-shadow: -3px -3px 6px 0 rgba(113, 113, 113, 0.83), 6px 6px 8px 0 rgba(0, 0, 0, 1);
    }

.poster {
    width: 252px;
    min-height: 395px;
    display: inline;
    margin: 15px;
    border: 1px solid #000;
    border-radius: 8px;
}
    .poster > img {
        width: 250px;
        height: 360px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .poster > input[type="submit"] {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
.thumbs {
    width: 256px;
    min-height: 380px;
    max-height: 380px;
    /*margin: 13px;*/
    border-radius: 6px;
    box-shadow: -2px -2px 7px 0 rgba(99, 99, 99, 0.55), 4px 4px 9px 0 rgba(0, 0, 0, 0.83);
}
    .thumbs:hover {
        box-shadow: -3px -3px 6px 0 rgba(113, 113, 113, 0.83), 
            6px 6px 8px 0 rgba(0, 0, 0, 1);
    }

/*
.link {
    width: 250px;
    min-height: 360px;
    opacity: 0;
}
*/
#imageButton {
    width: 100%;
    height: 380px;
    border-radius: 6px;
    border: 0;
}
/*
    #imageButton:hover {
        background: none !important;
    }
*/

.tooltip {
    background-color: #FFFFFF;
    color: #333;
    border: 1px solid green;
    border-radius: 10px;
    font-size: 10px;
    font-style: italic;
    position: fixed;
    display: block;
    opacity: 0;
    visibility: hidden;
    width: auto;
    height: auto;
    padding: 5px;
    box-shadow: -2px -2px 7px 0 rgba(99, 99, 99, 0.55), 4px 4px 9px 0 rgba(0, 0, 0, 0.83);
}

.pull-left:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

/*
#videos #cast {
    text-align: center;
}

.youtubeVids {
    margin: 10px 7px;
    border-radius: 8px;
}
*/

#movieDetails {
    font-size: 1.6em;
}
#movieDetails > h2 {
    background: #e5e5e5;
    color: #333;
    font-weight: 900;
    padding: 13px;
    font-size: 1.1em;
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 0;
}
#movieDetails > p {
    padding: 25px;
    background: #999;
    color: #fff;
    margin-top: 0;
    border-radius: 4px;
}
.castPic {
    width: 250px;
    height: 250px;
    border: 4px solid #333;
    border-radius: 50%;
    margin: 13px;
    float: left;
    overflow: hidden;
    box-shadow: -2px -2px 7px 0 rgba(99, 99, 99, 0.55), 4px 4px 9px 0 rgba(0, 0, 0, 0.83);
    transition: all 1.5s linear;
}
    .castPic:hover {
        box-shadow: -3px -3px 6px 0 rgba(113, 113, 113, 0.83), 6px 6px 8px 0 rgba(0, 0, 0, 1);
        transform: rotateY(360deg);
    }

.castButton {
    margin-top: 200px;
    min-width: 200px;
    background: rgba(255,255,255,.77);
    border: 1px solid #fff;
    transition: all 1.5s linear;
}
    .castButton:hover {
        background: rgba(255,255,255,.99);
        border: 1px solid rgba(255,0,0,.77);
        transform: rotateY(360deg);
    }

#actorFrame {
    margin-top: 20px;
    width: 100%;
    height: 450px;
}


#actorStats {
    width: 300px;
    height: 450px;
    float: left;
    background: #444;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px 20px;
    color: #fff;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100%; 
    background-image: url('https://image.tmdb.org/t/p/w500/@Model.imageUrls[0]');
}

#actorBio {
    width: calc(100% - 300px);
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    float: left;
}

    #actorBio > h2 {
        margin: 0;
        padding: 30px 40px;
        font-size: 2.4em;
        line-height: 1.1em;
        font-weight: 700;
        display: inline-block;
    }
    #actorBio > h3 {
        margin: 0;
        padding: 0 40px;
        font-weight: 600;
        line-height: 1.3em;
        font-size: 1.3em;
    }


#actorsInfo {
    width: 15%;
    height: 900px;
    float: left;
    color: rgba(0, 0, 0, 0.83);
}
    #actorsInfo > h5 {
        margin-bottom: 20px;
        font-style: italic;
    }

#gallery {
    width: 85%;
    float: left;
}
#imageGallery, #relatedGallery {
    clear: both;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.img-single {
    width: 180px;
    height: 270px;
    border-radius: 6px;
    box-shadow: -2px -2px 7px 0 rgba(99, 99, 99, 0.55), 4px 4px 9px 0 rgba(0, 0, 0, 0.83);
}

    .img-single:hover {
        box-shadow: -3px -3px 6px 0 rgba(113, 113, 113, 0.83), 6px 6px 8px 0 rgba(0, 0, 0, 1);
    }

    .bio {
        padding: 10px 40px;
        color: rgba(0, 0, 0, 0.83);
        font-size: 1.1em;
        font-family: 'Ubuntu', sans-serif;
    }
footer {
    display: block;
    clear: both;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* for later */
}
