@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<link rel="stylesheet" href="~/css/style.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-11 col-md-10 col-centered">

            <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
                <div class="carousel-inner">

                    @for (int i = 0; i < @Program.profileSet.profiles.Count; i++)
                    {
                        string active = null;
                        if (i == 0)
                        {
                            active = "item active";
                        }
                        else
                        {
                            active = "item";
                        }
                        @if (Program.profileSet.profiles[i].file_path != null)
                        {
                            <div class="@active">
                                <div class="card pull-left carousel-col">
                                    <img src="https://image.tmdb.org/t/p/w500/@Program.profileSet.profiles[i].file_path" class="card-img-top thumbs img-responsive" alt="...">

                                </div>
                            </div>
                        }
                    }
                </div>

                <a class="left carousel-control" href="#carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

            </div>

        </div>
    </div>
</div>